@charset "UTF-8";
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --button-hover-color: #188ce8;
  --secondary-color: #ffffff;
  --team-bg: #f5f4fa;
  --social-svg: #afb1b8;
  --bg-color: #2f303a;
  --hero-bg: #c4c4c4;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--title-color);
}

address {
  font-style: normal;
  width: 231px;
  height: 81px;
}

body {
  font-weight: 400;
  color: var(--title-color);
  margin: 0px 0px 0px;
}

.section {
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-title {
  width: 696px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.first_block {
  font-size: 700;
  font-size: 36px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-color);
}

.clients-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  font-family: var(--main-font);
}

.footer-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.modal-btn {
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  color: var(--secondary-color);
}

.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  fill: var(--title-color);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

.modal-form-field {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 6px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: dlock;
  width: 18px;
  height: 18px;
  transition: background-color 250ms linear;
}

.modal-form-icon:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: background-color 250ms linear;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../images/icon check.svg");
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.modal-form-label-link {
  color: var(--accent-color);
}

.modal-form-input-btn {
  margin-left: 50%;
  margin-bottom: 40px;
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  background-color: var(--button-hover-color);
  color: var(--secondary-color);
  font-family: var(--main-font);
}

.modal-footer-wrapper-button {
  display: inline-flex;
  color: var(--secondary-color);
  background-color: var(--button-hover-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  box-shadow: 0 4px 4px rgb 0 0 0/15%;
  transition: background-color 250ms var(--cubic);
  border-radius: 4px;
  align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  cursor: pointer;
}

.modal-footer-wrapper-button:focus, .modal-footer-wrapper-button:hover {
  background-color: var(--accent-color);
}

.svg-modal-icon {
  width: 40%;
  height: 40%;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.second_block {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: var(--main-font);
  margin-bottom: 58px;
}

.img-us {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff_name {
  padding-bottom: 12px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.social {
  width: 206px;
  margin-left: 80px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-item-footer {
  margin-left: 6px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-svg);
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.social-list-link:hover, .social-list-link:focus,
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.team-list-content {
  padding-top: 18px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 12px;
}

.about-us {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 100px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 94px;
}

.client-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-item:hover, .client-item:focus {
  border-color: var(--accent-color);
}

.client-item:hover,
.client-item:hover .client-item-icon, .client-item:focus,
.client-itemS:focus .client-item-icon {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.client-item-icon {
  height: 40px;
  fill: #afb1b8;
}

.social-list-link.theme-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-link.theme-dark:hover {
  background-color: var(--accent-color);
}

.social-list-icon.theme-dark {
  fill: var(--secondary-color);
}

.decoration-box {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-left: 24px;
  padding-top: 64px;
  padding-right: 24px;
  padding-bottom: auto;
  transform: translateY(-100%);
}

.text-decoration-box {
  font-family: var(--secondary-font);
  text-align: center;
  color: var(--secondary-color);
  transform: translateY(-200%);
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.parts_description {
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.menu-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-contact-link:not(:last-child) {
  margin-right: 30px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.mail-link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.mail-link:hover, .mail-link:focus,
.mail-link:hover .contact-link-item,
.mail-link:focus .contact-link-item {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.tel-link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.tel-link:hover, .tel-link:focus,
.tel-link:hover .contact-link-item,
.tel-link:focus .contact-link-item {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mail-link.header__link {
  display: flex;
  align-items: center;
}

.tel-link.header__link {
  display: flex;
  align-items: center;
}

.header__link {
  color: var(--text-color);
  fill: var(--text-color);
}

.contact-link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer:focus, .footer:hover {
  color: var(--secondary-color);
}

.footer-container {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.web-link {
  margin-right: 93px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-span-footer {
  color: var(--accent-color);
}

.footer-box {
  width: auto;
  height: 252px;
  left: 0px;
  top: 2093px;
  position: absolute;
}

.address-item-footer:not(:last-child) {
  margin-bottom: auto;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo .logo {
  color: var(--secondary-color);
}

.mail-link.footer-link,
.tel-link.footer-link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:focus,
.address-link:hover,
.footer-link:focus,
.footer-link:hover {
  color: var(--secondary-color);
}

.footer-email-container {
  display: block;
  flex-direction: column;
  width: 206px;
  height: 80px;
  margin-left: 90px;
  width: 100%;
}

.footer-email-container-name {
  flex-direction: column;
  font-family: var(--secondary-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
  white-space: nowrap;
}

.footer-email-name {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.25;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--main-color);
}

.footer-email-field {
  display: block;
  position: relative;
}

.section-portfolio {
  margin-bottom: 50px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  font-family: var(--secondary-font);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 92px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.logo-span {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  background-color: var(--hero-bg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  bottom: 1px;
  right: auto;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: var(--main-font);
  color: var(--title-color);
}

.menu__link:hover, .menu__linkk:focus {
  color: var(--accent-color);
}

.menu__link.current {
  color: var(--accent-color);
  background-image: url();
  position: relative;
}

.menu__link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  top: 44px;
  border-radius: 4px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-contacts {
  display: flex;
  align-items: center;
}

.menu.list {
  cursor: pointer;
}

.menu-contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-contacts-link:not(:last-child) {
  margin-right: 30px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.our-team-us {
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--secondary-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-our-team {
  background-color: var(--team-bg);
  padding-bottom: 94px;
}

.portfolio-text {
  padding: 20px 24px;
}

.portfolio-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--team-bg);
}

.portfolio-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-list:hover, .portfolio-btn-listo:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-portfolio:not(:last-child) {
  margin-right: 8px;
}

.portfolio-conteiner {
  margin-bottom: 94px;
}

.img-portfolio {
  width: 366px;
  height: 291px;
}

.us-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
  margin-left: -30px;
}

.project-box {
  background: var(--secondary-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 30px;
}

.project-boxx:hover, .project-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-list-link-wrapper {
  display: block;
}

.team-list-link-wrapper:hover .overlay,
.team-list-link-wrapper:focus .overlay {
  transform: translateX(0%);
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  font-family: var(--main-font);
}

.serveces-box {
  width: 270px;
}

.serveces-box-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-bg);
  border-radius: 4px;
}

.serveces-box-item {
  width: 70px;
  height: 70px;
}

.services {
  margin-bottom: 100px;
}

.us-services {
  display: flex;
  justify-content: space-between;
}

.overlay {
  font-family: var(--main-font);
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  overflow: auto;
  padding-left: 24px;
  padding-top: 64px;
  padding-right: 24px;
  padding-bottom: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.header_style {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.description_style {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.team-list-img-wrapper:hover .overlay,
.team-list-img-wrapper:focus .overlay {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */