.modal-btn {
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
  color: var(--secondary-color);
}

.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  fill: var(--title-color);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}
