:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --button-hover-color: #188ce8;
  --secondary-color: #ffffff;
  --team-bg: #f5f4fa;
  --social-svg: #afb1b8;
  --bg-color: #2f303a;
  --hero-bg: #c4c4c4;
}
